@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
   margin: 0;
   padding: 0;
}

.bg {
   width: 100vw;
   height: 100vh;
   position: relative;
}

.hexBgColor {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-family: Montserrat;
   font-size: 32px;
   font-weight: 900;
   border-radius: 6px;
   background-color: #fff;
   padding: 0 7px;
}
