@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - (786px / 2) - 1px);
        padding-right: calc(50% - (786px / 2) - 1px);
    }

    .for-item {
        height: 268px;
    }

    .cart {
        &-box {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            row-gap: 64px;
            column-gap: 64px;
        }
    }

    .product {
        width: 345px;

        &-content {
            column-gap: 29px;
            row-gap: 38px;
        }
    }

    .footer-logo {
        display: none;
    }

    .footer-info {
        justify-content: center;
    }

    .subscribe-box {
        justify-content: center;
    }
}

@media (min-width: 768px) and (max-width: 834px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }
}