@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,600,700);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited, a:focus, a:hover {
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
}

button,
input[type=submit] {
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  color: #FFF;
  font-family: montserrat;
  font-size: 18px;
  font-weight: normal;
  background-color: #000915;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 24px;
}

.btn {
  width: 234px;
  height: 48px;
  border-radius: 24px;
  display: flex;
  background-color: #9C0332;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  justify-content: center;
}

.header {
  height: 1024px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(../img/header_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 31.5% 50%;
}
.header__content {
  width: 716px;
  margin-top: 217px;
  display: flex;
  flex-direction: column;
}
.header__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 122%;
  margin-bottom: 32px;
}
.header__text {
  width: 480px;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 44px;
}

.games__content {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  gap: 32px;
  padding: 128px 0;
  justify-content: center;
}
.games__card {
  position: relative;
}
.games__img {
  border-radius: 16px;
}
.games__title {
  position: absolute;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  bottom: 32px;
  left: 32px;
}
.games img {
  max-width: 100%;
}

.seasons__content {
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.seasons__about {
  flex: 1 1 400px;
  max-width: 510px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-right: 32px;
}
.seasons__img {
  flex: 1 1 400px;
  max-width: 485px;
}
.seasons__img img {
  width: 100%;
}

.game-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
}

.game-about {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
}

@media (max-width: 1040px) {
  .seasons__content {
    justify-content: center;
  }
}
@media (max-width: 716px) {
  .header__content {
    width: 100%;
  }
  .seasons__about {
    padding-right: 0;
  }
}
@media (max-width: 610px) {
  .header__content {
    align-items: center;
  }
  .header__title, .header__text {
    text-align: center;
  }
}
@media (max-width: 530px) {
  .container {
    padding: 0 16px;
  }
  .header__title {
    font-size: 42px;
  }
  .header__text {
    width: 100%;
  }
  .seasons__content {
    justify-content: center;
    height: auto;
  }
  .seasons__about {
    margin-top: 51px;
    margin-bottom: 64px;
    align-items: center;
  }
  .seasons__img {
    margin-bottom: 85px;
  }
  .game-title {
    text-align: center;
    font-size: 32px;
    line-height: 39px;
  }
  .game-about {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
  }
}
@media (max-width: 375px) {
  .header {
    height: 735px;
  }
  .header__title {
    font-size: 32px;
  }
  .header__text {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 44px;
  }
}/*# sourceMappingURL=style.css.map */