@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Play:regular,700);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited, a:focus, a:hover {
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
}

button,
input[type=submit] {
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

html,
body {
  height: 100%;
  line-height: 1;
}

* {
  font-family: inherit;
  color: inherit;
  border: none;
}

html {
  font-size: 18px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Play, Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 1rem;
}

.header {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 32px;
  font-size: 32px;
  font-weight: 700;
  color: royalblue;
}

.footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 32px;
}

.container {
  border: 2px solid royalblue;
  border-radius: 6px;
  min-height: 450px;
  width: 320px;
  padding: 16px 0;
}

.screen {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 0 24px;
}
.screen__header {
  font-size: 32px;
  font-weight: 900;
  color: royalblue;
  text-align: center;
}
.screen__input {
  padding: 8px 16px;
  border-radius: 6px;
  line-height: 1rem;
  border: 1px solid #ccc;
  text-align: center;
}
.screen__input::-moz-placeholder {
  color: #ccc;
}
.screen__input:-ms-input-placeholder {
  color: #ccc;
}
.screen__input::placeholder {
  color: #ccc;
}
.screen__button {
  background: royalblue;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  line-height: 1rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
  transition: 0.1s;
}
.screen__button--move {
  width: 100%;
  padding: 18px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.screen__button:active {
  transform: scale(0.95);
}
.screen__button:disabled {
  background: #ccc;
}
.screen__players-box {
  width: 100%;
}
.screen__players-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
}
.screen__players-item, .screen__players-you {
  width: 100%;
  padding: 10px;
  background: #ddd;
  border-radius: 6px;
}
.screen__players-you {
  display: flex;
  gap: 8px;
  order: -1;
  margin-bottom: 10px;
  background: royalblue;
  color: white;
}
.screen__players-you::before {
  content: "Вы: ";
  font-weight: 400;
}
.screen__status-box {
  padding: 24px;
  height: 100%;
}
.screen__status-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
  font-size: 20px;
  font-weight: 900;
  flex-grow: 1;
}
.screen__player {
  align-self: flex-start;
  display: flex;
  gap: 8px;
}
.screen__player--you::before {
  content: "Вы: ";
  font-weight: 400;
}
.screen__game-lose, .screen__game-win {
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  padding: 32px 0;
}
.screen__game-lose {
  color: red;
}
.screen__game-win {
  color: green;
}
.screen__game-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.screen__game-header {
  margin-top: 20px;
  align-self: center;
  font-size: 24px;
  font-weight: 900;
  color: royalblue;
}
.screen__game-enemy {
  display: flex;
  gap: 8px;
}

.player {
  display: flex;
  gap: 8px;
  font-weight: 900;
}
.player-rate {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  font-size: 12px;
  border: 0.5px solid #333;
  border-radius: 3px;
  color: #333;
  padding: 0 3px;
}
.player-rate__wins {
  color: green;
}
.player-rate__loses {
  color: red;
}/*# sourceMappingURL=style.css.map */