* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.top {
    background-color: #C4C4C4;
    background-image: url(img/top_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 735px;
    color: #FFFFFF;
}

.header {
    height: 76px;
}

.header-input {
    font-family: inherit;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    width: 288px;
    height: 41px;
    background-color: transparent;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: inherit;
    padding-left: 32px;
    padding-right: 32px;
}

.header-input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: inherit;
}

.top-nav-link {
    font-size: 16px;
    line-height: 20px;
    color: inherit;
}

.top-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    margin-top: 64px;
    margin-bottom: 16px;
}

.top-slogan {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}

.top-cat-link {
    font-size: 16px;
    line-height: 24px;
    color: inherit;
    text-decoration: underline;
}

.section-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    margin-bottom: 32px;
}

.product-name {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 8px;
}

.product-about {
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    margin-bottom: 12px;
}

.product-price1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #050505;
}

.product-price2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration: line-through;
    color: #888888;
}

.link-box {
    margin-bottom: 34px;
}

.link-box-item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:#000000;
    text-decoration: underline;
}

.footer-menu-header {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 12px;
}

.footer-contacts-header {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 12px;
}

.footer-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
}

.footer-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
}

.subscribe-title {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 16px;
}

.subscribe-input {
    font-family: inherit;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    height: 46px;
    color: #C4C4C4;
    outline: none;
    padding-left: 25px;
    padding-right: 25px;
}

.subscribe-input::placeholder {
    font-size: 15px;
    color: #C4C4C4;
}

.subscribe-btn {
    font-family: inherit;
    background: rgba(222, 215, 215, 0.41);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    width: 275px;
    height: 46px;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.nav-top-item:hover, .footer-link:hover {
    text-decoration: underline;
}